<article>
  <h1>
    <%= userReceiverName %>,
  </h1>
  <p>
    <%= userSenderName %> enviou um elogio para você:
  </p>
  <blockquote>
    <%= message %>  
  </blockquote>
</article>

<footer>
  <h3>nlw-Valoriza</h3>
</footer>