<body>
  <article>
    <h1>
      <%= userReceiverName %>,
    </h1>
    <p>
      <%= userSenderName %> enviou um elogio para você:
    </p>
    <blockquote>
      <p>#<%= tagName %></p>
      <p><%= message %></p>
    </blockquote>
  </article>

  <footer>
    <h3>nlw-Valoriza</h3>
  </footer>
</body>