<body style="font-family: sans-serif; background-color: rgb(213, 242, 227)">
  <article>
    <h1><%= userReceiverName %>,</h1>
    <p><%= userSenderName %> enviou um elogio para você:</p>
    <blockquote>
      <p style="font-style: italic">#<%= tagName %></p>
      <p>"<%= message %>"</p>
    </blockquote>
  </article>
  <hr />
  <footer>
    <p style="font-size: smaller;">Sistema de Registro de Elogios 🤩</p>
  </footer>
</body>
